* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  display: grid;
  background-image: url("images/back-1.webp");
  background-position: stretch;
  grid-template-columns: 0.1fr 2fr 0.1fr 2fr 0.1fr;
  grid-template-rows: 5fr;
  justify-items: center;
  align-content: center;
}

.mainClicker {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  min-width: 30vw;
  max-width: fit-content;
  padding: 1rem;
}
h1 {
  text-align: center;
  padding: 10px;
  border: 10px inset rgb(85, 13, 13);
  border-radius: 0px 10px 0px 10px;
  color: whitesmoke;
  text-shadow: #882929 -2px 2px 3px;
  background-image: url("images/black-mesh.webp");
}
.demonSpawner {
  max-height: 40vh;
  min-height: 20vh;
  min-width: auto;
  cursor: pointer;
  margin: 2.3rem;
  animation-name: grow-shrink;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes grow-shrink {
  0% {
    scale: 70%;
  }
  20% {
    scale: 80%;
  }
  40% {
    scale: 90%;
  }
  60% {
    scale: 100%;
  }
  80% {
    scale: 90%;
  }
  100% {
    scale: 80%;
  }
}
.demonSpawner:hover {
  animation: rotate 10s, grow-shrink 5s;
  animation-iteration-count: infinite;
}
@keyframes grow-shrink {
  0% {
    scale: 70%;
  }
  20% {
    scale: 80%;
  }
  40% {
    scale: 90%;
  }
  60% {
    scale: 100%;
  }
  80% {
    scale: 90%;
  }
  100% {
    scale: 80%;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(30deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0);
  }
}
.demonSpawner:active {
  animation-name: grow-shrink;
  animation-duration: 0.1s;
  animation-iteration-count: 1;
}
@keyframes grow-shrink {
  0% {
    scale: 100%;
  }
  50% {
    scale: 120%;
  }
  100% {
    scale: 100%;
  }
}

.gameUI {
  min-height: fit-content;
  min-width: fit-content;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  background-image: url("images/black-mesh.webp");
  text-align: center;
  padding: 11px;
  border: 10px inset rgb(85, 13, 13);
  border-radius: 0px 10px 0px 10px;
}
.gameInfo {
  min-height: fit-content;
  max-height: fit-content;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  color: whitesmoke;
  text-shadow: #882929 -2px 2px 3px;
  text-align: center;
  padding: 10px;
  border: 10px inset rgb(85, 13, 13);
  border-radius: 0px 10px 0px 10px;
}
.resetButton {
  background-color: #fcfcfc;
  text-align: center;
  padding: 10px;
  border: 10px inset rgb(85, 13, 13);
  border-radius: 0px 10px 0px 10px;
  cursor: pointer;
}
.resetButton:hover {
  box-shadow: 5px 3px 3px rgba(214, 202, 202, 0.705), -0.5em 0 1em #882929;
}

#shop-container {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  min-width: fit-content;
  max-height: fit-content;
  border: 10px inset rgb(85, 13, 13);
  border-radius: 10px;
  background-image: url("images/black-mesh.webp");
  padding: 0px 0px 5px 5px;
}
.upgradeButton {
  min-width: 25vw;
  min-height: fit-content;
  margin: 5px 5px 0px 0px;
  font-size: 1rem;
  padding: 0.5rem;
  letter-spacing: 0.2em;
  position: relative;
  border: 5px inset rgb(85, 13, 13);
  border-radius: 10px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.upgradeButton:hover {
  color: whitesmoke;
  background-color: #490505;
  border: 5px ridge red;
  box-shadow: inset 5em 1em rgb(24, 14, 14);
  border-radius: 10px;
}
.upgradeButton:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}
.upgradeButton:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

@media (max-width: 700px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mainClicker {
    justify-content: center;
    padding: 10px;
    width: max-content;
    border-radius: 5px;
  }
  .demonSpawner {
    max-height: 40vh;
  }
}
